<% content_for :title, "Follow requests" %>

<h1>Follow requests</h1>

<div id="follow_requests">
  <% @follow_requests.each do |follow_request| %>
    <%= render follow_request %>
    <%= render "accept_request_button", follow_request: follow_request %>
  <% end %>
</div>

<h1>Followers</h1>

<div">
  <% @accepted_follow_requests.each do |follow_request| %>
    <%= render follow_request.follower %>
    <p><%= link_to "Show this user", follow_request.follower %></p>
    <%= render "accept_request_button", follow_request: follow_request %>
  <% end %>
</div>