<h1>Profile</h1>
  <%= render "profile_picture", size: "small", user: @user %>
  
  <div>
    <% if allowed_to?(:edit?, @user) %>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    <% else %>
      <%= render "follow_requests/follow_button", user: @user %>
    <% end %>
  </div>
  
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>


  <p>
    <strong>Website:</strong>
    <%= @user.website %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </p>
