
<% if user_signed_in? %>
  <header class="w-3xs h-screen border-r-2 col-start-1 col-end-2 row-start-1 row-end-2 px-4">
    <%= image_tag('instagram-wordmark.svg', class: "max-w-1/2 py-8") %>
    <div class="grid gap-2">
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= link_to "Home (Posts)", root_path %></div>
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= link_to "New post", new_post_path %></div>
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= link_to "Users", users_path %></div>
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= link_to "Follow Requests", follow_requests_path %></div>
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= link_to "Profile", user_path(current_user) %></div>
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= link_to "Account Settings", edit_user_registration_path %></div>
      <div class="p-2 text-base font-medium rounded-lg hover:bg-gray-100"><%= button_to "Sign out", destroy_user_session_path, method: :delete %></div>
    </div>
  </header>
<% else %>
  <div class=""><%= link_to "Home (Posts)", root_path %></div>
  <div><%= link_to "Sign in", new_user_session_path %></div>
  <div><%= link_to "Sign up", new_user_registration_path %></div>
<% end %>

