<div id="<%= dom_id post %>" class="flex flex-col gap-4" >
  <div class="flex items-center gap-3">
    <%= render "users/profile_picture", size: 'thumb', user: post.user %>
    <%= link_to post.user.username, post.user, class:"font-bold" %>
  </div>
  <% if post.images.present? %>
    <% post.images.each do |image| %>
      <%= link_to (image_tag image), post %>
    <% end %>
  <% end %>
  <div class="flex items-center gap-3">
    <%= render "likes/like_button", post: post %>
    <%= link_to "#{post.likes.count} likes", post_likes_path(post), class:"font-bold" %>
  </div>
  <p>
    <strong><%= post.user.username %></strong>
    <%= post.content %>
  </p>
</div>
